/* GENERAL */

body {
  background-color: #1b1919; /* negro */
  color: #fff; /* blanco */
  padding-bottom: 80px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a, a:hover {
  color: #2fd656;
  text-decoration: none;
}

h2, h3, h4, h5 {
  color: #2fd656; /* verde para títulos */
}

/* NAVBAR */

.navbar {
  background-color: #000 !important;
  border-bottom: 1px solid #2fd656;
}

.navbar-brand {
  color: #2fd656 !important;
  font-weight: bold;
  font-size: 1.5rem;
}

/* BUTTONS */

.btn-primary {
  background-color: #2fd656;
  border: none;
}

.btn-primary:hover {
  background-color: #10501f;
}

.btn-outline-light {
  border-color: #2fd656;
  color: #2fd656;
}

.btn-outline-light:hover {
  background-color: #2fd656;
  color: #fff;
}

.btn-light {
  background-color: #fff;
  color: #000;
}

.btn-light:hover {
  background-color: #2fd656;
}

/* CARDS */

.equal-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
}

.equal-card img {
  height: 250px;
  object-fit: cover;
  width: 100%;
}

.equal-card .card-body {
  flex-grow: 1;
  background-color: #111;
  color: #fff;
}

.card-title {
  color: #2fd656;
}

/* FORMS */

.form-control {
  background-color: #222;
  color: #fff;
  border: 1px solid #2fd656;
}

.form-control:focus {
  background-color: #111;
  color: #fff;
  border-color: #2fd656;
  box-shadow: 0 0 5px #fff;
}

label {
  color: #fff;
}

/* OTHERS */

.shadow {
  box-shadow: 0 0 10px rgba(40, 167, 69, 0.4) !important;
}

.img-fluid {
  border: 2px solid #fff;
  border-radius: 8px;
}

.text-verde-betbros {
  color: #2fd656 !important;
}

.btn-verde-betbros {
  background-color: #2fd656;
  border: none;
  color: white;
}

.btn-verde-betbros:hover {
  background-color: #10501f;
}

.card.locked {
  position: relative;
  overflow: hidden;
  cursor: not-allowed;
}

.card.locked::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
  z-index: 1;
}

.card.locked:hover::before {
  background-color: rgba(0, 0, 0, 0.6);
}

.card.locked::after {
  content: "🔒";
  font-size: 2.5rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
}



